body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  
header {
    background-color: #f8f7e9;
    color: #3f170e;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

header img {
  float: left;
  width: 100px;
}
  
header h1 {
    margin: 0;
  }

nav {
  padding: 20px;
  margin-left: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 16px;
  }
  
nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
nav ul li a {
    color: #3f170e;
    text-decoration: none;
  }

#imagePrincipale{
  background: url(media/fond_chili.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
  text-align: center;
  height: 800px;
}

#imagePrincipale h1{
  margin:400px;
  color: #f8f7e9;
}

.photosligne{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo img{
  max-width: 100%;
  height: auto;
  display: block;
}

.photo:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 5px grey;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.photo{
  text-align: center;
  max-width: 30%;
  position: relative;
  overflow: hidden;
}

.title {
  font-weight: bold;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.7); /* Fond rouge transparent */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
}

section {
    padding: 40px;
  }
  
h2 {
    color: #333;
  }
  
footer {
    background-color: #f8f7e9;
    color: #3f170e;
    text-align: center;
    padding: 20px;
  }
  

  .album-container {
    width: auto;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: 150px 300px;
    align-items: center;
  }
  
  .album {
    height: 600px;
    width: auto;
    display: flex;
    transition: all 0.5s;
    transform: translateX(0);
    justify-content: center;
  }

  .album img{
    height: 600px;
    width: auto;
  }

  .prev{
    left: 40px;
  }

  .next{
    right: 40px;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    border: 2em;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;

  }
  
  